.search-wrapper {
  position: relative;

  align-items: center;
}

.search-bar {
  width: 100%;
  padding: 8px 30px; /* space for the icon on the left */
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #e0e0e0;
  color: #333;
  outline: none;
  transition: 0.2s ease;
}

.search-bar:focus {
  border-color: #888;
  background-color: #fff;
}

.search-icon {
  position: absolute;
  left: 10px;
  width: 15px;
  height: 15px;
  pointer-events: none;
}
